.contact-us{
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us > a{
    text-decoration: none;
    border-radius: 50px;

}

.whatsapp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25d366;
    color:var(--snow);
    padding: 5px;
    border-radius: 50px;
    width: 400px;
    box-shadow: 0 0 15px 0 var(--snow);

    transition: all 0.3s ease;
}

.whatsapp-logo{
    width: 40px;
    margin: 10px;
}

.whatsapp:hover {
    transition: all 0.3s ease;
    background-color: rgb(26, 26, 26);
    color: white; 
    box-shadow: 0 0 15px 0 var(--wine);
    transform: scale(1.1); 
}

.whatsapp > p{
    text-align: center;
}

@media screen and (max-width: 576px){
    .whatsapp{
        width: 250px;
    }

    .whatsapp-logo{
        width: 30px;
    }
}