.service-section{
    color: var(--gun);
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.service-section {
    text-align: center;
    padding: 50px 0;

}

.service-section h1 {
    color: var(--snow);
}

.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    overflow: visible;
}

.service {
    background-color: var(--snow);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    max-width: 250px;

    transition: transform 125ms ease-in-out;

    box-shadow: 0 0 10px 2px var(--snow);

}

.service:hover {
    transform: scale(1.05);
}

.service img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;

    border: 5px solid var(--gun);
}

.service h2 {
    margin-top: 15px;
}


@media (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }
}
