footer {
    background-color: var(--wine);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #666;
    padding-top: 10px;
}

.footer-bottom > p{
    text-align: center;
}

.footer-section p{
    text-align: center;
}

.footer-section p a,
.footer-bottom p a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #f9a826;
}

.footer-section p a:hover,
.footer-bottom p a:hover {
    text-decoration: underline;
}


#backToTop {
    background-color: #f9a826;
    color: #2a2a2a;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#backToTop:hover {
    background-color: #d48414;
}


.social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.icon {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    color: #fff;
    border: 2px solid transparent;

    margin: 10px;
}

.facebook {
    background-color: #3b5998;
}

.instagram {
    background: linear-gradient(90deg, #FF7A00 0%, #FF0169 50.06%, #D300C5 99.36%);
    border: 1px solid linear-gradient(90deg, #FF7A00 0%, #FF0169 50.06%, #D300C5 99.36%);
}

.icon:hover {
    transform: translateY(-3px);
    border: 2px solid #fff;
}



@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}