@media screen and (max-width: 900px){

    .slider-box{
        height: 1000px;

    }
    .slide-elem{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){

    .slider-box{
        height: 800px;
    }
    .description{
        line-height: 20px;
    }

}