.button-box{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    z-index: 10000;
}

.button-prev, .button-next {
    margin: 20px;
    width: 50px;
    height: 50px;
    color: var(--wine);
    background-color: rgb(0, 0, 0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    touch-action: manipulation;
}

.button-prev:hover, .button-next:hover {
    background-color: rgb(26, 26, 26);
    box-shadow: 0 8px 20px rgba(139, 0, 0, 0.5); /* Usa il valore esadecimale per il colore */
    transform: scale(1.1);
    color: white;
}

.button-prev:active, .button-next:active {
    transform: scale(0.95);
    background-color: rgba(26, 26, 26, 0.6);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}