.frame{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: relative; /* Aggiungi position relative per il posizionamento dell'overlay */
}

.frame::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeOverlay 6s forwards; /* Anima in 2 secondi */
    z-index: 1000;

}

.video-imp{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
}

.motto{
    opacity: 0;
    animation: showMotto 2s forwards;
    animation-delay: 4s;
    text-align: center;

    position: absolute;
    color: white;
    text-shadow: 2px 0 var(--wine), -1px 0 var(--wine), 0 1px var(--wine), 0 -1px var(--wine),
    1px 1px var(--wine), -1px -1px var(--wine), 1px -1px var(--wine), -1px 1px var(--wine);

    z-index: 1001;
    cursor:default;
}

.shrink-frame {
    animation: shrinkFrame 2s forwards;
}

.no-scroll {
    overflow: hidden;
}

@keyframes shrinkFrame {
    from {
        height: 100vh;
    }
    to {
        height: 40vh;
        background-color: var(--gun);
    }
}

@keyframes showMotto{

    0%{
        opacity: 0;
    }
    40%{
        opacity: 0.8;
        transform: scale(1.05);
    }
    60%{
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOverlay {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}