.studio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.studio-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    max-width: 1500px;
    margin: 15px;
    width: 100%;
}


.studio-container >  h2 {
    margin-bottom: 1em;
}
.studio-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.studio-description {
    max-width: 600px;
    padding: 20px;
    width: 100%;
}
@media screen and (max-width: 900px){
    .studio-container {

        flex-direction: column;
        max-width: 1200px;

        margin: 15px;
    }
}
